
.image{
    
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("bg-todo1.jpg");
}


#header{
    font-size: 45px;
    text-align: center;
    margin-bottom: 35px;
}

a{
    color:white;
}

.card {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

#btnDeleteAll {
    font-size: 13px;
    font-weight: bold
}

#task-all{
    margin: 0.5px;
    padding: 0.5px;
    overflow: auto;
    position: relative;
    justify-content: space-between;
    overflow: auto;
    
    
}
 ul{
   max-height: 240px;
   max-width: 1500px;
 }

 



 