
.image{
    
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("bg-todo.jpg");
}
#header{
    font-size: 25px;
}

a{
    color:white;
}